{% extends 'type_test/base.html' %}
{% load static %}
{% block content %}

    
    {% if request.user.is_authenticated %}
        <div class="authenticated" hidden></div>
    {% endif %}
    
    <div class="container my-4">
        <div class="row border">
            <div class="my-container row col-10">
                <div class="mx-auto fw-bold fs-100 col-12 mb-3">
                    <h2><span class="test-name"></span><span class="added-by"></span></h2>
                    <hr>
                </div>
        
                <div class="speed-counter-div col-6"><h5 class="fw-bold">Speed: <span class="speed-counter-span">0.00 </span>WPM</h5></div>
        
                <div class="accuracy-counter-div col-6"><h5 class="fw-bold">Accuracy: <span class="accuracy-counter-span">0.00</span>%</h5></div>
        
                <div class="test-container col-12">
                    
                </div>
        
                <div class="type my-3">
                    <form action="">
                        <input class="typing" type="text" name="" id="" autofocus>
                    </form>
                </div>
            </div>
    
            <div class="side-bar-result col-2 border my-2 py-5">
                Average of last 10 games <hr> <br><br>
                <h6><b>Avg. Speed: <span class="avg-speed">0.00 wpm</span></b></h6>
                <h6><b>Avg. Accuracy: <span class="avg-accuracy">0.00%</span></b></h6>
            </div>
        </div>
    </div>


    <div class="result">
        <h4>Well done. You typing speed is <span class="wpm"></span> wpm. Your accuracy is <span class="accuracy"></span>%</h4>
    </div>

{% endblock content%}

{% block script %}
    <script src="{% static 'js/type_test_main.js' %}"></script>
{% endblock script %}